body{
    background: orange;
  }
  h1{
    text-align:center;
    background: white;
    margin: 20px 180px;
    padding: 10px;
    border-radius: 50px;
  }
  .cuadro{
    
    background: white;
    margin:50px 100px;
  }
  h2{
    padding: 20px;
    color: orange;
    text-align: center;
  }
  ul.lista{
    list-style: none;
    padding-bottom: 20px ;
    letter-spacing:2px;
    line-height: 30px;
    word-spacing: 10px;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: bold;
   
  }
  h2:hover{
    text-shadow: 3px 3px  grey;
  }
  footer{
    text-align: center;
  }